.about-us {
    display: flex;
    flex-direction: column;
}

.title-position {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-title {
    color: #333333;
    font-family: "Kaushan Script";
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 23px;
}

.title {
    color: #333333;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.text-inf {
    align-items: center;
    text-align: center;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 20%;
}

.img-line img {
    margin: 5% 2% 0 0;
}

.statistics {
    height: 200px;
    background-color: #95e1d3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
}

.statistics-wrap {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    height: 200px;
    width: 200px;
}

.statistics-wrap:first-child {
    border-left: 1px solid rgba(255, 255, 255, 0.3);;
}

.number-statistic {
    font-size: 72px;
    font-weight: 700;
    padding-top: 50px;
}

.text-statistic {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

