.blog-inf {
    margin-left: 20px;
}

.blog .img-line {
    display: flex;
    margin: 0 30%;
}

.blog-inf .text-inf {
    margin: 20px 0;
    text-align: start;
    width: 80%;
}

.blog-line {
    width: 380px;
    height: 1px;
    background-color: #e5e5e5;
    border: none;
    margin: 20px 0;
}

.blog-count .aqua-icon {
    margin: 0 7px;
}

.blog-count .text-inf {
    font-style: italic;
}