.client {
    background-image: url(../img/client-bg.png);
    height: 85vh;
    background-repeat: no-repeat;
}

.client .container {
    padding: 5% 18%;
}

.client-line {
    display: flex;
    flex-direction: row;
}

.client-feedback {
    display: flex;
    flex-direction: row;
}

.client-img {
    margin-right: 30px;
}

.client-feedback .person-name {
    margin-top: 5px;
}

.client-line .pink-horizontal-line {
    margin: 18px 0;
}

.feedback-text {
    width: 80%;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.feedback-top {
    margin-top: 5%;
}