.mo-go-home {
    background-image: 
        linear-gradient(
             to top, rgba(252, 227, 138, 0.9) 0%,
             rgba(243, 129, 129, 0.9) 100%),
        url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
}

.mo-go-home .container {
    padding-top: 1%;
    color: #ffffff;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.navigation li{
    margin-right: 55px;
}

.navigation li:last-child {
    margin-right: 0;
}

.home-text-position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 6%;
}

.subtitle {
    font-family: "Kaushan Script";
    font-size: 72px;
    font-weight: 400;
}

.main-title {
    font-size: 150px;
    font-weight: 700;
    line-height: 140px;
    text-transform: uppercase;
    margin: 3% 0;
}

.home-btn {
    border: 3px solid #ffffff;
    padding: 15px 33px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 3%;
}

.progress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.progress-line {
    width: 280px;
    height: 3px;
    background-color: #ffffff;
    border: none;
    opacity: 0.5;
    margin: 55% 0 10%;
}

.progress-number {
    font-size: 24px;
    font-weight: 700;
}

.progress-text {
    font-weight: 400;
}