.service-list {
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

.service-list:last-child {
    margin-top: 3%;
}

.service-list-item {
    display: flex;
    flex-direction: row;
    width: 25%;
}

.service-list .aqua-icon {
    margin-right: 29px;
    font-size: 30px;
}

.service-title {
    color: #333333;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.service-text {
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.service-horizontal-line {
    width: 75%;
    height: 1px;
    background-color: #e5e5e5;
    border: none;
    margin-top: 3%;
    text-align: center;
}