.what-do-information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

.what-do-list-item {
    width: 600px;
    border: 1px solid #e5e5e5;
    padding: 12px 0;
    margin-bottom: 20px;
    margin-left: 30px;
}

.what-do-list .aqua-icon {
    color: #95e1d3;
    font-size: 24px;
    margin: 0 10px 0 30px;
}